<!--
  Generated template for the ReportAccidentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Report Accident</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="accidentForm">
    <ion-card>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="accidentType">
          <ion-option *ngFor="let type of accidentTypes;" [value]="type.name">{{type.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label stacked>Incident Description</ion-label>
        <ion-textarea formControlName="incidentDescription"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-list formArrayName="involvedVehicles">
      <ion-list-header margin-top-bottom-0>
        Involved Vehicle(s)
        <button ion-button color="primary" clear icon-only item-end (click)="addVehicle()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-list-header>
      <ion-card [formGroupName]="i" *ngFor="let vehicle of accidentForm.controls.involvedVehicles.controls;let i=index;">
        <ion-item>
          <button ion-button color="danger" clear icon-only item-end (click)="removeVehicle(i)">
            <ion-icon name='trash' is-active="false" ></ion-icon>
          </button>
        </ion-item>
        <ion-item>
          <ion-label stacked>Vehicle Number</ion-label>
          <ion-input type="text" formControlName="vehicleNumber" autocapitalize="characters"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Vehicle Model</ion-label>
          <ion-input type="text" formControlName="vehicleModel" autocapitalize="characters"></ion-input>
        </ion-item>
        <ion-item formGroupName="driver">
          <ion-label stacked>Driver Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item formGroupName="driver">
          <ion-label stacked>Driving Licence</ion-label>
          <ion-input type="text" formControlName="drivingLicence" autocapitalize="characters"></ion-input>
        </ion-item>
        <ion-list formArrayName="passengers">
          <ion-list-header margin-top-bottom-0>
            Involved Passenger(s)
            <button ion-button color="primary" clear icon-only item-end (click)="addPassenger(vehicle)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-list-header>
          <ion-item [formGroupName]="j" *ngFor="let passenger of vehicle.controls.passengers.controls;let j=index;">
            <ion-label stacked>{{j+1}}) Passenger Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <button ion-button color="danger" clear icon-only item-end (click)="removePassenger(vehicle,j)">
              <ion-icon name='trash' is-active="false" ></ion-icon>
            </button>
          </ion-item>
        </ion-list>
        <div padding>      
          <ion-card *ngFor="let img of vehicle.controls.vehicleImages.controls;let m = index;">
            <img [src]="img.value.url"/>
            <ion-row>
              <ion-col text-right>
                <button ion-button color="danger" clear icon-only item-end (click)="delVehicleImage(vehicle,m)">
                  <ion-icon name='trash' is-active="false" ></ion-icon>
                </button>
              </ion-col>
            </ion-row>            
          </ion-card>      
        </div>    
    
        <div text-center>
          <h2 color="primary">Capture Vehicle</h2>
          <button ion-button icon-only class="center" margin-bottom (click)="captureVehicle(vehicle)">
            <ion-icon name="camera"></ion-icon>
          </button>
        </div>
      </ion-card>
    </ion-list>
    <ion-card>
      <ion-item>
        <ion-label stacked>Other People Involved</ion-label>
        <ion-textarea formControlName="otherPeopleInvolved"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label stacked>Remarks</ion-label>
        <ion-textarea formControlName="remarks"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <div padding>      
      <ion-card *ngFor="let img of accidentForm.controls.incidentPhotos.controls;let n = index;">
        <img [src]="img.value.url"/>
        <ion-row>
          <ion-col text-right>
            <button ion-button color="danger" clear icon-only item-end (click)="delIncidentImage(accidentForm,n)">
              <ion-icon name='trash' is-active="false" ></ion-icon>
            </button>
          </ion-col>
        </ion-row>            
      </ion-card>      
    </div>    

    <div text-center>
      <h2 color="primary">Capture Incident</h2>
      <button ion-button icon-only class="center" margin-bottom (click)="captureIncident(accidentForm)">
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
    </ion-card>
    <div padding>
      <button type="submit" ion-button block [disabled]="accidentForm.invalid" (click)="saveAccidentReport()">Save</button>
    </div>
  </form>
</ion-content>