page-accident-details {
    .accident-info{
        ion-item{
            margin-bottom: 10px;
            padding-left: 0;
            .item-inner{
                padding-left: 15px;
            }
            ion-label{
                h2{
                    font-size: 14px;
                    color: #333333;

                }
            }

            &.big-content{
                ion-label{
                    p{
                        line-height: 22px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .vehicle-info{
        .vehical-details-main{
            .vehical-title{
                font-size: 18px;
                color: #333;
            }
            ion-card-content{
                padding: 0;
                ion-label{
                    margin: 0 !important;
                    color: #333;
                }
            }
        }
    }

    .persons-details{
        ion-card{
            ion-card-header{
                font-size: 15px;
                color: #333;
            }
            ion-card-content{
                ion-label{
                    margin: 0 !important;
                    padding: 15px;
                }
            }
        }
    }
}
