ion-content{
   
        form{
            .add-vehicle-card{
                margin:0 0 15px 0 !important;
                width: 100% !important;
                padding-bottom: 15px;

                ion-item{
                    .item-inner{
                        border-bottom: none;
                        box-shadow: none;
                        padding-right: 15px !important;
                    }
                }
                ion-label{
                    // margin-bottom: 8px !important;
                    code{
                        color: red;
                    }
                }
            }
        }
        ion-card{
            ion-card-header{
                border-bottom: solid 1px #ddd;
                background: rgba(0, 0, 0, 0.01);
                ion-item{
                // background-color: rgba(0, 0, 0, 0.02);
                    ion-label{
                        font-size: 16px !important;
                        color: #555;
                        margin: 0 !important;
                        font-weight: bold;
                    }
                }
            }
            ion-item{
                // margin-bottom: 10px !important;
                ion-label{
                    font-size: 14px !important;
                    color: #333 !important;
                    margin-bottom: 8px !important;
                    font-weight: bold;

                }
                ion-input{
                    border: solid 1px #ddd;
                    padding: 0 10px;
                    font-size: 14px;
                    color: #555;
                }
                
            }
        }
       
    
}

.person-list-main{
    ion-card{
        // box-shadow: 0 0 5px #ddd;
        padding-bottom: 0;


        ion-card-header{
            ion-item{
                background-color: rgba(0, 0, 0, 0.01);
                padding-bottom: 0;

                .delete{
                    width: 25px;
                    font-size: 10px !important;
                    color: #f53d3d;
                    border: solid 1px;
                }
                .edit{
                    width: 25px;
                    font-size: 10px !important;
                    color: #2494af;
                    border: solid 1px;
                }
                ion-label{
                    font-weight: bold;
                }
            }
        }
        .gender{
            padding-bottom: 0 !important;
        }
        ion-item{
            border-bottom: solid 1px #ddd;
            padding-bottom: 0;

            ion-select{
                border: solid 1px #ddd;
                padding: 8px 10px !important;
                font-size: 14px;
                color: #555;
            }

            ion-textarea{
                border: solid 1px #ddd;
                padding: 8px 10px !important;
                font-size: 14px;
                color: #555;
            }
            ion-label{
                font-weight: normal;
                margin: 0 !important;
            }
        }
    }
}

.media-list-box{
    ion-list{
        border: solid 1px #ddd;
    }
}

// .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
//     border-bottom: 1px solid #ddd !important;
//     box-shadow: none !important;
// }

// ion-item{
//     &.input-has-focus{

//         .item-inner{

//             border-bottom-color: #ddd !important;
//             box-shadow: none !important;

//         }
//     }
// }

.vehicle-number{
    .item-inner{
        border-bottom: none !important;
        box-shadow: none !important;
    }
}

.vehicle-model{
    .item-inner{
        border-bottom: none !important;
        box-shadow: none !important;
    }
}