<!--
  Generated template for the ViewAccidentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>View Accidents</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
  <!-- <ion-card *ngFor="let acc of accidents;">
    <ion-card-content>
      <ion-card-title>
        {{acc.accidentType}}
      </ion-card-title>
      <p>{{acc.description}}.</p>
    </ion-card-content>
    <ion-card *ngFor="let vehicle of acc.vehicle;">
      <ion-item>
        <ion-avatar item-start>
          <img src="/assets/imgs/profile.png">
        </ion-avatar>
        <h2>{{vehicle.person.name}}</h2>
        <p>{{vehicle.person.licence}}</p>
      </ion-item>

      <img [src]="vehicleImg.url" *ngFor="let vehicleImg of vehicle.vehiclePics;">

      <ion-card-content>
        <ion-item>
          <h2>Vehicle Number : {{vehicle.number}}</h2>
          <h2>Vehicle Model : {{vehicle.model}}</h2>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-card> -->

  <ion-list>
    <ion-card *ngFor="let acc of accidents;let i = index;" (click)="openIncidentDetailPage(i)">
      <ion-grid>
        <ion-row>
          <ion-col col-6 text-wrap>
            <b>{{acc.accidentType}}</b>
          </ion-col>
          <ion-col col-6 text-wrap text-right>
            <small>{{acc.createdDate | date}}</small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 text-wrap>
            {{acc.description}}
          </ion-col>
          <ion-col col-6>
            <ion-badge float-right text-wrap>{{acc.location}}</ion-badge>
            <br>
          </ion-col>      
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>