ion-header{
    ion-navbar{
        color: white;
        .toolbar-background{
            background-color: #2494af;
        }
        .back-button{
            color: white;
        }
        ion-title{
            .toolbar-title{
                color: white;
            }
        }
    }
}
