<!--
  Generated template for the SubmitAccidentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Accident Details</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title>Accident Details</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card style="margin-right:0; margin-left:0; width: 100%;">
    <ion-card-header style="background-color: rgba(0, 0, 0, 0.05) !important;">
      <h2><b>Accident Details</b></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ul>
          <li><b>Accident Type: </b><span>{{accidentForm['type']}}</span></li>
          <li><b>Fatal: </b><span>{{accidentForm['fatal']?'Yes':'No'}}</span></li>
          <li><b>No. Of Casualities: </b><span>{{accidentForm['numOfCasualities']}}</span></li>
          <li><b>No. of Vehicle Involved: </b><span>{{accidentForm['numOfVehicle']}}</span></li>
          <li><b>How did the Accident Happen?: </b><span>{{accidentForm['description']}}</span></li>
          <li><b>Location: </b><span>{{accidentForm['address']}}</span></li>
          <li><b>Remarks: </b><span>{{accidentForm['remark']}}</span></li>
          <li><b>Primary and Secondary Causes of the accident: </b><span>{{accidentForm['primaryAndSecondaryCauses']}}</span></li>
          <li><b>Drawing Of Accident Details: </b><span>{{accidentForm['drawing']}}</span></li>
          <li><b>Information On Analysing Agency And Personnel: </b><span>{{accidentForm['analysingInfo']}}</span></li>
        </ul>
      </ion-item>
    </ion-card-content>
    <div *ngFor="let vehicle of accidentForm['vehicles']; let i = index">
      <ion-card>
        <ion-card-header>
          <h3> <b>Vehicle {{i+1}} Details</b> </h3>
        </ion-card-header>
        <ion-item style="padding-left:0 !important;">
          <ion-item>
            <ul>
              <li><b>Vehicle Number</b> : {{vehicle.number}}</li>
              <li><b>Vehicle Model</b> : {{vehicle.model}}</li>
            </ul>
          </ion-item>
        </ion-item>
        <div class="person-of-vehicle" *ngFor="let person of vehicle.persons; let i = index">
          <ion-card>
            <ion-card-header *ngIf="person.type=='Driver'">
              <h3>Driver Details</h3>
            </ion-card-header>
            <ion-card-header *ngIf="person.type=='Passenger'">
              Passenger ({{i}})
            </ion-card-header>
           
            <ion-item>
              <ul>
              <li><b>Name: </b>{{person.name}}</li>
              <li><b>Driving Licence: </b>{{person.licence}}</li>
              <li><b>Gender: </b><span>{{person.gender}}</span></li>
              <li><b>Age: </b><span>{{person.age}}</span></li>
              <li><b>Address: </b><span>{{person.address}}</span></li>
              <li><b>Under Influence: </b><span>{{person.underInfluence?'Yes':'No'}}</span></li>
              <li><b>Type and Extent of Human Factor: </b>{{person.typeAndExtendOfHumanFactor}}</li>
              <li><b>Nature of any injuries: </b>{{person.natureOfAnyInjuries}}</li>
              <li><b>Data on Socio-economic status: </b>{{person.dataOnSocioEconomicStatus}}</li>
            </ul>
            </ion-item>
          </ion-card>
        </div>
      </ion-card>
    </div>
    <div class="pedestrian-details" *ngIf="accidentForm['pedestrians']">
      <ion-card>
        <ion-card-header>
          <h3>Pedestrian Details</h3>
        </ion-card-header>
        <div *ngFor="let ped of accidentForm['pedestrians']; let i = index;">
          <ion-card>
            <ion-card-header style="padding: 5px 15px;">
              <h2>Pedestrain {{i+1}}</h2>
              <div class="action">
                <button class="edit" ion-button color="primary" clear icon-only item-end (click)="editPedestrian(i)">
                  <ion-icon name='create' is-active="false"></ion-icon>
                </button>
                <button class="delete" ion-button color="danger" clear icon-only item-end (click)="removePedestrian(i)">
                  <ion-icon name='trash' is-active="false"></ion-icon>
                </button>
              </div>
            </ion-card-header>
            <ion-item>
              <ion-item style="padding-left: 0;">
                <ul>
                    <li><b>Name: </b><span>{{ped.name}}</span></li>
                    <li><b>Gender: </b><span>{{ped.gender}}</span></li>
                    <li><b>Age: </b><span>{{ped.age}}</span></li>
                    <li><b>Address: </b><span>{{ped.address}}</span></li>
                    <li><b>Under Influence: </b><span>{{ped.underInfluence?'Yes':'No'}}</span></li>
                    <li><b>Type and Extent of Human Factor: </b>{{ped.typeAndExtendOfHumanFactor}}</li>
                    <li><b>Nature of any injuries: </b>{{ped.natureOfAnyInjuries}}</li>
                    <li><b>Data on Socio-economic status: </b>{{ped.dataOnSocioEconomicStatus}}</li>
                </ul>
              </ion-item>
            </ion-item>
          </ion-card>
  
        </div>
      </ion-card>
    </div>
  </ion-card>

  
  <button type="button" ion-button block color="primary" (click)="addPedestrian()">Add Pedestrian</button>

</ion-content>


<ion-footer padding style="background-color: rgba(0,0,0,0.02);">
  <button type="button" ion-button block color="secondary" (click)="submitAccident()">Submit</button>
</ion-footer>