page-home {
.title-page{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: color($colors, dark)
  
}
.scroll-content{
  .home-page{
    max-width: 550px;
    margin: auto;
  }
}

}