page-add-pedestrian {
    .pedestrain-form{
        ion-card{
            // margin-left: 0;
            // margin-right: 0;
            // width: 100%;
            box-shadow:  0 0 10px #ddd;

            ion-item{
                ion-textarea{
                    border: solid 1px #ddd;
                    padding: 5px 10px;
                    font-size: 14px;
                    color: #555;
                    margin-bottom: 15px;
                }
                ion-label{
                    color: #333;
                    font-size: 14px !important;
                    // margin: 0 !important;
                    code{
                        color: red;
                    }
                }
                ion-select{
                    color: #333;
                    font-size: 14px !important;
                }
                ion-input{
                    border: none !important;
                    input{
                        margin: 0 !important;
                    }
                }
            }

          
            .type {
                ion-input{
                    margin-bottom: 15px;
                    margin-top: 5px;
                    padding: 0;
                }
            }
            .nature {
                ion-input{
                    margin-bottom: 15px;
                    margin-top: 5px;
                    padding: 0;
                }
            }
            .data {
                ion-input{
                    margin-bottom: 15px;
                    margin-top: 5px;
                    padding: 0;
                }
            }
        }
    }
}
