<!-- Generated template for the MediaComponent component -->
<ion-item (click)="openFile(f)" *ngFor="let f of files; let i = index;">
  <ion-icon name="image" slot="start"></ion-icon>
  <ion-icon name="videocam" slot="start" *ngIf="f.name.endsWith('MOV') || f.name.endsWith('mp4')"></ion-icon>
  <ion-icon name="mic" slot="start" *ngIf="f.name.endsWith('wav')"></ion-icon>
  {{ f.name }}
  <p>{{ f.fullPath }}</p>
  <ion-icon name="trash" slot="icon-only" slot="end" (click)="deleteFile(f, i)" color="danger"></ion-icon>
</ion-item>
<ion-item>
  <h2 color="primary">Capture Photos/Video</h2>
  <button ion-button fill="clear" expand="full" color="light" (click)="selectMedia()">
    <ion-icon slot="start" name="document"></ion-icon>
    Select Media
  </button>
</ion-item>