.capture{
    text-align: center;

    h2{
        font-size: 14px;
        color:#333;
        margin-bottom: 10px;
        font-weight: bold;
    }
    button{
        border: solid 1px #ddd;
        padding: 5px 10px !important;
        display: inline-block;
        font-size: 14px !important;
        height: auto !important;
        background-color: #2494af;
        color: white;
        margin: 0;

        ion-icon{
            margin-right: 10px;
        }
    }
}