<!-- Generated template for the MediaComponent component -->

<div class="media-list">
  <ng-container *ngFor="let f of files; let i = index;">
    <ion-item>
      <div class="file" (click)="openFile(f)">
        <ion-icon name="image" slot="start" *ngIf="f.name.endsWith('jpg')"></ion-icon>
        <ion-icon name="videocam" slot="start" *ngIf="f.name.endsWith('MOV') || f.name.endsWith('mp4')"></ion-icon>
        <ion-icon name="mic" slot="start" *ngIf="f.name.endsWith('wav')"></ion-icon>
        <strong>{{ f.name }}</strong>
        <p>{{ f.fullPath }}</p>
      </div>
      <ion-icon class="delete" name="trash" slot="icon-only" slot="end" (click)="deleteFile(f, i)" color="danger"></ion-icon>
    </ion-item>
  </ng-container>
</div>

<ion-item class="capture">
  <h2 color="primary">Capture Photos/Video</h2>
  <button ion-button fill="clear" expand="full" color="light" (click)="selectMedia()">
    <ion-icon slot="start" name="document"></ion-icon>
    Select Media
  </button>
</ion-item>