.capture{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    .item-inner{
        border-bottom: none !important;
    }
    
    h2{
        font-size: 14px;
        color:#333;
        margin-bottom: 10px;
        font-weight: bold;
    }
    button{
        border: solid 1px #ddd;
        padding: 5px 10px !important;
        display: inline-block;
        font-size: 14px !important;
        height: auto !important;
        background-color: #2494af;
        color: white;
        margin: 0;

        ion-icon{
            margin-right: 10px;
        }
    }

    ion-item{
        button{
            &.select-media-btn{
                height: 30px !important;
            }
        }  
    }


}


.media-list{
    
    ion-item{
        border-bottom: solid 1px #ddd !important;
        &.item {
            .file{
                display: inline-block;
                width: calc(100% - 40px);
                

                strong{
                    color: #333;
                    font-size: 14px;

                }
                p{
                    font-weight: normal;
                    font-size: 12px;
                    margin-top: 5px;
                    padding-left: 25px;
                    color: #333;
                }
            }
            ion-icon{
                width: 20px;
                color: #2494af;
                &.delete {
                    display: inline-block;
                    float: right;
                    width: 20px;
                    font-size: 15px !important;
                    color: #f53d3d;
                    border: solid 1px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 2px;
                }
            }
        }
        ion-label{
            font-weight: normal;
        }

        
    }
}

