page-add-driver {
    ion-content{
        form{
            ion-item{
                ion-label{
                    font-size: 14px;
                    color: #333;
                    font-weight: bold;
                    code{
                        color: red;
                    }
                }
                ion-label[stacked]{
                    font-size: 14px !important;
                }
                ion-input{
                    color: #333;
                    font-size: 14px;
                }
                ion-select{
                    color: #333;
                    font-size: 14px;
                }
            }
        }
    }
}   
